/*$visual-grid: true;
$visual-grid-index: front;*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background: #333333 url("/assets/images/grey-bg.png") repeat scroll 0 0;
  margin: 0px auto;
  position: relative;
  max-width: 800px;
  font-size: 62.5%;
  font-family: Georgia,"Times New Roman",Times,serif; }

h1 {
  font-size: 5.5em;
  margin-bottom: 0.5em; }

p {
  font-size: 2em;
  line-height: 1.4em; }

aside {
  font-size: 1.4em; }

img {
  max-width: 100%; }

pre {
  background-color: #eee;
  font-size: 1.3em;
  padding: 1em; }

h2, h3, h4, h5, h6 {
  text-transform: uppercase; }

a img {
  border: none; }

a, a:hover, a:visited {
  background: none;
  color: #3aa6d0;
  text-decoration: none; }

.hidden {
  display: none; }

.clear-fix {
  clear: both; }

.main-header {
  color: #3aa6d0;
  line-height: 1.3em;
  font-size: 1em;
  text-align: right; }
  .main-header a, .main-header a:hover {
    background: none;
    color: #C2C5C6;
    text-decoration: none; }
  .main-header h1 a {
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
    border-radius: 5px 5px 5px 5px;
    color: lightGrey;
    color: #3aa6d0;
    font-variant: small-caps;
    padding: 10px;
    text-shadow: 1px 1px 1px #cccccc; }
  .main-header h1 a:hover {
    color: #222;
    text-shadow: 1px 2px 1px #666666; }

.paginate {
  font-size: 1.4em;
  margin: 1em auto;
  text-align: right; }

.twitter-link {
  height: 18.6px;
  width: 100px; }

.twitter-bird {
  filter: 0;
  height: 35px;
  margin: -10px;
  width: 35px; }

.email-link {
  filter: 0;
  height: 25px;
  margin: -5px;
  width: 25px; }

.main-nav {
  border-radius: 10px 10px 0 0;
  font-size: 1.4em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  max-width: 100%;
  text-align: right;
  padding: 0px 10px 1px 10px; }
  .main-nav ul {
    list-style-type: none;
    margin: 0; }
  .main-nav li {
    display: inline;
    border-radius: 0 0 10px 10px; }
    .main-nav li a {
      padding: 1em;
      border-radius: 2px;
      box-shadow: 0 0 3px #333333;
      color: lightGrey;
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -ms-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out; }
    .main-nav li a:hover {
      color: #3aa6d0;
      box-shadow: 0 0px 3px #111111;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
  .main-nav li:hover {
    border-bottom: 0px solid #3aa6d0; }

.post {
  border-radius: 2px;
  box-shadow: 0px 0px 25px black;
  background-color: #F8FBFF;
  padding: 2em;
  margin: 2em 0; }
  .post img {
    float: right;
    margin-right: 1.1%;
    max-width: 100%; }
  .post p.footer {
    clear: both; }
  .post h2 {
    font-size: 2em; }

.post h2 a:hover {
  text-decoration: underline; }

.all-link {
  float: left; }

.main-content {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  max-width: 100%;
  text-align: left;
  padding: 1em;
  border-radius: 0px 0px 10px 10px; }

.first-letter {
  font-size: 3.2em;
  font-weight: bold;
  float: left;
  color: #3aa6d0;
  line-height: .4em;
  padding: 0.25em 0.08em 0 0;
  #padding: 0.25em 0.08em 0.2em 0em;
  _padding: 0.25em 0.08em 0.25em 0em;
  margin: 0; }

.categories li {
  list-style: none; }

.categories ol li {
  list-style: inherit; }

@media screen and (max-width: 60em) {
  body {
    width: 95%; }

  .main-nav {
    text-align: right; }

  .main-nav ul {
    margin-top: 20px; }

  .main-nav li {
    display: inline; }

  .intro.right {
    text-align: left; }

  #work h3 img {
    padding: 0.4em 0.1em; }

  .post img {
    float: left; } }
@media screen and (max-width: 45em) {
  p {
    font-size: 1.8em; }

  h1 {
    font-size: 4em;
    text-align: center; }

  .main-nav ul {
    padding: 0px;
    text-align: center; }

  .main-nav li {
    display: list-item;
    padding: 15px; }

  .main-nav li a {
    background-color: #333;
    border: 1px solid #444444;
    box-shadow: 1px 1px 5px #222222;
    padding: 10px 40px;
    display: block; }

  .main-nav li a:hover {
    box-shadow: 0 0 0px #333333; } }
@media screen and (max-width: 35em) {
  h1 {
    font-size: 3em; } }
@media screen and (min-width: 80em) {
  .posts .post {
    padding: 1.5em 2.5em; } }
