<!DOCTYPE html>
<html>
<head>
    <title>Blogging by me</title>
		<link href="/assets/css/smith.css" media="screen" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="header">
	    <h1><a href="/">Dustin Smith</a></h1>
	    <p></p>
	  </div>
	<div id="nav">
	    <ul>
	      <li id="blog"><a href="/">Blog</a></li>
	      <li id="me"><a href="/me">Me</a></li>
	      <li id="work"><a href="/work">Work</a></li>
	      <li id="pics"><a href="/pictures">Pictures</a></li>
	      <li id="twitter"><a href="/twitter"><img src="/assets/images/twitter_bird_blue.png" alt="Twitter Link [Icon]" class="twitter-bird"></a></li>
	      <li id="email"><a href="mailto:dds1024@gmail.com"><img src="/assets/images/email.png" alt="Email Link [Icon]" class="email-link"></a></li>
	    </ul>
	  </div>
	<div id="body">
		<div class="post">
			{{ content }}
		</div>
	</div>
</body>
</html>