<!DOCTYPE html>
<html>
<head>
    <title>D. Smith</title>
		<link href="/assets/css/smith.css" media="screen" rel="stylesheet" type="text/css" />
</head>

<body>
	<div id="header">
	    <h1><a href="/">Dustin Smith</a></h1>
	  </div>
	<div id="nav">
	    <ul>
	      <li id="blog"><a href="/">Blog</a></li>
	      <li id="pics"><a href="http://www.flickr.com/photos/dustinsmith1024/" target="_blank">Pictures</a></li>
	      <li id="twitter"><a href="https://twitter.com/DSmith1024" target="_blank"><img src="/assets/images/twitter_bird_blue.png" alt="Twitter Link [Icon]" class="twitter-bird"></a></li>
	      <li id="email"><a href="mailto:dds1024@gmail.com"><img src="/assets/images/email.png" alt="Email Link [Icon]" class="email-link"></a></li>
	    </ul>
	  </div>
	<div id="body">
			{{ content }}
	</div>
</body>
</html>